body{
  font-size: 16px;
  color: #2b283a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header,
.sectionOne img {
  width: 100%;
}

.header,
.sectionTwo {
  background-color: #5f29a3;
}

.container {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

#header--h1,
#header--h3 {
  margin: 0;
}

#header--h1 {
  color: whitesmoke;    
  font-size: 2.25rem;
}

#header--h3,
.sectionOne h2 {
  font-size: 1.75rem;
}

#header--h3 {
  color: #d0aaff;
  
}

.sectionTwo,
.container {
  padding: 2rem 0;
}

.sectionOne h2 {
  color: #2b283a;
}

#p-link {
  text-decoration: dotted underline;
  color: #ef5839;
}

#p-link:hover, 
#p-link:active, 
#p-link:focus {
  color: #2b283a;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.288rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin: 0.625rem 0.188rem;
}

.btn-dark {
  background-color: #5f29a3;
  color: whitesmoke;
}

.btn-mid {
  background-color: #f0e0ff;
  color: #5f29a3;
}

.btn-light {
  background-color: whitesmoke;
  color: #5f29a3;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #2b283a;
  background-color: #f3e885;
}

.sectionTwo {
  color: whitesmoke;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin: 0.94em;
}

.feature-img {
  width: 48.8%;
  border-radius: 0.312rem;
}

.main-img {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 2rem;
  display: block;
}

footer {
  text-align: center;
  color: #5f29a3;
}

p {
  line-height: 150%;
}

//nav and button changes for mobile devices
@media (max-width:480px) {
  .img-container {
    flex-direction: column;
  }

  .feature-img {
    width: 90%;
    border-radius: 0.5rem;
    margin: 0.5em;
  }

  .btn {
    display: block;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  ul {
    padding: 0;
    margin: 0.5rem;
    list-style-type: none;
    font-size: 1.125rem;
  }
  
  ul li {
    padding: 1rem 0.5rem;
  }

  li:not(:last-child) {
    border-bottom: 1px dotted #a190b6;
  }
}

// nav changes for non-mobile devices
@media (min-width:480px) {

  #h-ctnr {
    width: 100%;
    max-width: 95%;
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  nav {
    margin-left: auto;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  ul {
    padding: 0;
    margin: 0.5rem;
    list-style-type: none;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-around;
  }
  
  ul li {
    padding: 1.5rem 1.5rem;
    font-weight: 500;
  }

}

@media (max-width:786px) and (min-width:481px){
  ul {
    flex-direction: column;
  }
  ul li {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0.5rem;
    padding-bottom: 0.8rem;
  }
}